# Kubernetes cluster configuration
export KUBERNETES_VERSION=1.25.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=1

# Create an Azure Service Principal and paste the output here
export AZURE_TENANT_ID="<Tenant>"
export AZURE_CLIENT_ID="<AppId>"
export AZURE_CLIENT_SECRET="<Password>"
export AZURE_LOCATION=eastus # this should be an Azure region that your subscription has quota for.
export AZURE_SUBSCRIPTION_ID="<SubscriptionId>"

# Azure virtual machine types 
export AZURE_CONTROL_PLANE_MACHINE_TYPE=Standard_D2a_v4
export AZURE_NODE_MACHINE_TYPE=Standard_D2a_v4

# Base64 encode the variables
export AZURE_SUBSCRIPTION_ID_B64="$(echo -n "$AZURE_SUBSCRIPTION_ID" | base64 | tr -d '\n')"
export AZURE_TENANT_ID_B64="$(echo -n "$AZURE_TENANT_ID" | base64 | tr -d '\n')"
export AZURE_CLIENT_ID_B64="$(echo -n "$AZURE_CLIENT_ID" | base64 | tr -d '\n')"
export AZURE_CLIENT_SECRET_B64="$(echo -n "$AZURE_CLIENT_SECRET" | base64 | tr -d '\n')"
export AZURE_SSH_PUBLIC_KEY_B64=""

# Settings needed for AzureClusterIdentity used by the AzureCluster
export AZURE_CLUSTER_IDENTITY_SECRET_NAME="cluster-identity-secret"
export CLUSTER_IDENTITY_NAME="cluster-identity"
export AZURE_CLUSTER_IDENTITY_SECRET_NAMESPACE="default"

# Upgrade configuration
export UPGRADE_STRATEGY=SmartUpgrade
