# Kubernetes cluster configuration
export KUBERNETES_VERSION=1.25.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=1

# OpenStack credentials configuration. No changes needed if you followed the README.
export OPENSTACK_CLOUD=openstack
export OPENSTACK_CLOUD_CONFIG_SECRET_NAME=cloud-config

# OpenStack region and network configuration. External network ID is only needed if multiple external networks exist.
export OPENSTACK_EXTERNAL_NETWORK_ID=""
export OPENSTACK_FAILURE_DOMAIN="nova"

# OpenStack machine conifugration
export OPENSTACK_IMAGE_NAME=ubuntu-20.04
export OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR=m1.medium
export OPENSTACK_NODE_MACHINE_FLAVOR=m1.medium
export OPENSTACK_SSH_KEY_NAME=my-ssh-key

# OpenStack network configuration
export OPENSTACK_NETWORK_CIDR=10.6.0.0/24
export OPENSTACK_DNS_NAMESERVERS=

# (optional) Containerd HTTP proxy configuration. Leave empty if not required.
export CONTAINERD_HTTP_PROXY=""
export CONTAINERD_HTTPS_PROXY=""
export CONTAINERD_NO_PROXY=""

# (optional) Snap risk level and confinement
export SNAP_RISKLEVEL=""
export SNAP_CONFINEMENT=""

# Upgrade configuration
export UPGRADE_STRATEGY=SmartUpgrade
